
.menuBurger {
  $self: &;

  height: var(--full-width-screen);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translateX(-100%);
  transition-delay: .5s;

  &.active {
    transition-delay: 0s;
  }

  &.active,
  &.active #{$self}__wrapper {
    transform: translateX(0);
  }


  &__wrapper {
    display: flex;
    flex-direction: column;
    height: var(--full-width-screen);
    width: 20%;
    background: var(--bg);
    border-radius: 0 20px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    height: var(--full-width-screen);
  }

  &__item {
    display: flex;
    align-items: center;
    width: var(--full-width-screen);
    height: 70px;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      width: var(--full-width-screen);
      height: var(--full-width-screen);
      position: absolute;
      top: 97%;
      left: 0;
      background: var(--main-color);
      z-index: -1;
      transition: top .2s ease-in-out;
    }

    &:hover #{$self}__link,
    &:hover::before {
      top: 0;
      color: var(--accent-color);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 25px;
    padding-left: 20px;
    text-decoration: none;
    width: var(--full-width-screen);
    height: var(--full-width-screen);
    color: var(--main-color);
    transition: color .5s ease-in-out;
    line-height: 5rem;
  }

  &__icon {
    margin-right: 10px;
    font-size: 32px;
  }

  &__text {
    letter-spacing: 2px;
  }

}
