@import "vars";

@mixin centerPosition($x:50%, $y:50%) {
  position: absolute;
  top: $y;
  left: $x;
  transform: translate(-50%, -50%);
}

@mixin padding {
  padding: 10px 50px 10px 10px;
}

@mixin mainBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $full-screen;
  width: $full-screen;
}

@mixin innerBlock {
  width: $full-screen;
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
  box-shadow: 5px 7px 3px #041167;
  position: relative;

  @include VisionsOfGrandeur-gradient;

  padding: 15px;
  border-radius: 8px;
}

@mixin title {
  font-size: 40px;
  margin-bottom: 20px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

@mixin passwordBlock {
  position: relative;
}

@mixin veryBlue-bg($direction: top, $opacity: 1) {
  $startColor: rgba(2, 27, 121, $opacity);
  $endColor: rgba(5, 117, 230, $opacity);

  background: #0575E6;
  background: -webkit-linear-gradient(to $direction, $startColor, $endColor);
  background: linear-gradient(to $direction, $startColor, $endColor);
}

@mixin Frost-gradient($direction: top, $opacity: 1) {
  $startColor: rgba(0, 78, 146, $opacity);
  $endColor: rgba(0, 4, 40, $opacity);

  background: #000428;
  background: -webkit-linear-gradient(to $direction, $startColor, $endColor);
  background: linear-gradient(to $direction, $startColor, $endColor);
}

@mixin VisionsOfGrandeur-gradient($direction: top, $opacity: 1) {
  $startColor: rgba(28, 181, 224, $opacity);
  $endColor: rgba(0, 0, 70, $opacity);

  background: #000046;
  background: -webkit-linear-gradient(to $direction, $startColor, $endColor);
  background: linear-gradient(to $direction, $startColor, $endColor);
}

@mixin Royal-gradient($direction: top, $opacity: 1) {
  $startColor: rgba(36, 59, 85, $opacity);
  $endColor: rgba(20, 30, 48, $opacity);

  background: #141E30;
  background: -webkit-linear-gradient(to top, $startColor, $endColor);
  background: linear-gradient(to top, $startColor, $endColor);
}

@mixin Clear-Sky($direction: top, $opacity: 1) {
  $startColor: rgba(54, 55, 149, $opacity);
  $endColor: rgba(0, 92, 151, $opacity);

  background: #005C97;
  background: -webkit-linear-gradient(to $direction, $startColor, $endColor);
  background: linear-gradient(to $direction, $startColor, $endColor);
}

@mixin Midnight-City($direction: top, $opacity: 1) {
  $startColor: rgba(65, 67, 69, $opacity);
  $endColor: rgba(35, 37, 38, $opacity);

  background: #232526;
  background: -webkit-linear-gradient(to $direction, $startColor, $endColor);
  background: linear-gradient(to $direction, $startColor, $endColor);
}

@mixin Light-Sky($direction: top, $opacity: 1) {
  $start-color: rgba(13,61,230, $opacity);
  $middle-color: rgba(18,21,203,$opacity);
  $end-color: rgba(14,189,231,$opacity);

  background: rgba(13,61,230, 1);
  background: -moz-linear-gradient($direction, $start-color 0%, $middle-color 62%, $end-color 100%);
  background: -webkit-linear-gradient($direction, $start-color 0%, $middle-color 62%, $end-color 100%);
  background: linear-gradient($direction, $start-color 0%, $middle-color 62%, $end-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d3de6",endColorstr="#0ebde7",GradientType=1);
}

@mixin wings ($width: 200, $height: 500, $left: -40%, $right:-40%) {
  &:after, &:before {
    content: '';
    width: 200px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 200;

    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:before {
    background-image: url($left-wing);
    left: -40%;
  }

  &:after {
    background-image: url($right-wing);
    right: -40%;
  }
}

@mixin RomanNumerals () {
  & > i:nth-child(1) {
    position: absolute;
    top: 10%;
    left: 50px;
    color: #1359c2;
    font-size: 250px;
    transform: rotate(-20deg);
    opacity: 0.3;
  }
  & > i:nth-child(2) {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #1359c2;
    font-size: 350px;
    transform: rotate(20deg);
    opacity: 0.5;
  }
  & > i:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 5%;
    color: #1359c2;
    font-size: 500px;
    opacity: 0.06;
  }
  & > i:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 5%;
    color: #1359c2;
    font-size: 500px;
    opacity: 0.06;
  }
}





















