
//size
$full-screen: 100%;

// color
$main-color-text: #b814d0;
$accent-color-text: #f12711;
$color-selection: #f5af19;

// background-color
$main-bg-color: linear-gradient(to right, #4A00E0, #8E2DE2);