// image
$send-icon-message: "../../../public/send-icon.png";
$hide-icon-password: '../../../public/hide.png';
$show-icon-password: "../../../public/show.png";

//size
$full-screen: 100%;
$channels-min-width: 300px;
$channels-max-width: 1400px;

// color
$bright-green: #66ff00;
$white: #fff;
$selection-input: #1CB5E0;

