
.send-message {
    display: flex;
    align-items: center;
    width: calc(100% - 15vw);
    padding: 10px;
    border: 1px solid #606060;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 0 #fff;
    background: #13141f;
    margin: 20px 0;
}

.send-message__input {
    display: flex;
    flex: 1 1 auto;
}

.send-message__input-wrapper {
    color: #fff;
    max-height: 200px;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
    padding: 4px;
}

.send-message__input-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.send-message__input-wrapper::-webkit-scrollbar-track {
    background-color: #1d1f34;
}

.send-message__input-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--accent-color);
}

.send-message__input-wrapper::placeholder {
    color: #fff;
}

.send-message__input-wrapper:focus {
    box-shadow: none;
}

.send-message__ico {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    align-self: end;
    margin-bottom: 3px;
}

.send-message__ico > img {
    width: inherit;
    height: inherit;
}