
/*
.send-message {
    display: flex;
    width: calc(100% - 15vw);
    min-height: 60px;
    max-height: 200px;
    border-radius: 10px 10px 0 0;
    overflow-y: auto;
    background: var(--main-color);
    border: 1px solid #606060;
    box-shadow: 0 3px 0 0 #FFF;
}

.send-message__input {
    cursor: text;
    width: var(--full-width-screen);
    max-height: none;
    height: inherit;
    outline: none;
    padding: 20px;
    font-size: 16px;
    border-radius: inherit;
    overflow-y: auto;
    white-space: pre-wrap;
    color: var(--accent-color);
}

.send-message__input:empty:before {
    content: attr(data-placeholder);
}

.send-message__ico {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 14px;
    margin-right: 20px;
    align-self: flex-end;
}
*/




.send-message {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(100% - 25vh);
    padding: 10px;
    border: 1px solid #606060;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 0 #fff;
    background: #13141f;
}

.send-message__input {
    display: flex;
    flex: 1 1 auto;
}

.send-message__input-wrapper {
    color: #fff;
    max-height: 200px;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
}
.send-message__input-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.send-message__input-wrapper::-webkit-scrollbar-track {
    background-color: #1d1f34;
}
.send-message__input-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--accent-color);
}

.send-message__input-wrapper::placeholder {
    color: #fff;
}
.send-message__input-wrapper:focus {
    box-shadow: none;
}

.send-message__ico {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    align-self: end;
}
.send-message__ico> img {
    width: inherit;
    height: inherit;
}