@import "../../styles/base/vars";
@import "../../styles/base/mixin";

.select {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  max-width: 100px;
  height: 25px;
  z-index: 1;
  outline: none;
  color: $white;
  border: none;
  background: #000428;
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  background: linear-gradient(to bottom, #004e92, #000428);
}