@import "../../styles/base/vars";
@import "../../styles/base/mixin";

.input {
  color: $white;
  box-shadow: 3px 3px 3px $bright-green;
  @include Frost-gradient;
  font-size: 17px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 8px;
  position: relative;

  &::selection {
    background: $selection-input;
  }

  &::placeholder {
    color: $white;
  }
}