@import "../../styles/base/vars";
@import "../../styles/base/mixin";

.input {
  color: $accent-color-text;
  box-shadow: 3px 3px 1px  $accent-color-text;
  font-size: 17px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 8px;
  position: relative;


  &::selection {
    background: $color-selection;
  }
}