
.info-channel {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    width: calc(100% - 15vw);
    margin: 20px 0;
    border-radius: 0 0 10px 10px;
    border: 1px solid #606060;
    background: #13141F;
    box-shadow: 0 -3px 0 0 var(--accent-color);
}

.info-channel__wrapper {
    cursor: pointer;
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
}

.info-channel__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-channel__avatar > img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
}

.info-channel__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: var(--full-width-screen);
}

.info-channel__title {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 25px;
    color: var(--accent-color);
}

.info-channel__count {
    font-size: 14px;
    letter-spacing: 1px;
    color: #9a9a9a;
}