@import "../base/vars";
@import "../base/mixin";

.channels {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: $channels-min-width;
  max-width: $channels-max-width;
  height: $full-screen;
  @include VisionsOfGrandeur-gradient(top, 1);

  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    margin: 10px 10px 20px;
    align-items: center;
    justify-content: center;
  }
}