@import "../base/vars";
@import "../base/mixin";

.chatInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  width: $full-screen;
  color: $white;
  padding: 3px;
  @include veryBlue-bg(top, 1);

  &__avatar {
    width: 50px;
    height: 50px;
    padding: 4px;
    border-radius: 50%;
  }

  &__name {
    display: flex;
    align-items: center;
    min-width: 100px;
    font-size: 25px;
  }

  &__btn {
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    border-radius: 50%;
    @include veryBlue-bg(right top, 1);

    & span,
    & span::before,
    & span::after {
      display: block;
      position: absolute;
      width: 20px;
      height: 2px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -10px;
      background: $white;
      transition: transform $transition;
    }

    & span::before,
    & span::after {
      content: '';
    }

    & span::before {
      transform: rotate(-35deg);
      width: 10px;
      transform-origin: left bottom;
    }

    & span::after {
      transform: rotate(35deg);
      width: 10px;
      transform-origin: left top;
    }

    @include tabletExtension($size-tablet-3) {
      display: block;
    }
  }

  &__btn_active span {
    transform: rotate(180deg);
  }
}