@import "../base/vars";
@import "../base/mixin";

.chat {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: $full-screen;
  width: $full-screen;
  height: $full-screen;

  &__communication {
    flex-direction: column;
  }

  @include tabletExtension($size-tablet-3) {
    grid-template-columns: 1fr;
  }
}