@import "../base/vars";
@import "../base/mixin";

.chatInfo {
  display: flex;
  gap: 10px;
  width: $full-screen;
  color: $white;
  padding: 3px;
  @include veryBlue-bg(top, 1);

  &__avatar {
    width: 50px;
    height: 50px;
    padding: 4px;
    border-radius: 50%;
  }

  &__name {
    display: flex;
    align-items: center;
    min-width: 100px;
    font-size: 25px;
  }

  &__btn {
    display: none;
    width: 60px;
    background: #000;
    border: none;
    position: relative;

    @include tabletExtension($size-tablet-3) {
      display: block;
    }
  }

  &__lines {
    display: block;
    background: $white;
    width: 20px;
    height: 1px;
    @include centerPosition();

    &:before,
    &:after {
      content: '';
      background: inherit;
      width: 10px;
      height: inherit;
      position: absolute;
      left: -2px;
    }

    &:before {
      top: -3px;
      transform: rotate(-45deg);
    }

    &:after {
      top: 3px;
      transform: rotate(45deg);
    }
  }
}