@import "../base/vars";
@import "../base/mixin";

.menuBar {
  display: flex;
  align-items: center;

  &__settings {
    width: 40px;
    height: 40px;
    border: none;

    & > * {
      width: inherit;
      height: inherit;
      background: url("../../../public/settings.png") 0 / cover no-repeat;
    }
  }
}