@import "../base/base";
@import "../base/mixin";
@import "../base/vars";

.message {
  display: inline-block;
  word-wrap: break-word;
  max-width: 600px;
  white-space: pre-wrap;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 8px 8px 8px 0;
  color: $white;
  @include Royal-gradient(top, 1);

  @include netbookExtension($size-netbook-2) {
    max-width: 400px
  }

  &__inner {

  }
}