@import "../base/vars";
@import "../base/mixin";

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: $full-screen;
  width: $full-screen;

  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 20px;
  @include Clear-Sky(top, 1);

  &__username {
    display: inline-flex;
    gap: 20px;
    padding: 5px 15px;
    margin-bottom: 15px;

    @include Midnight-City(top, 1);
  }
}

.currentUserMessage {
  align-self: end;
}

.otherUserMessage{
  align-self: start;
}