@import "../base/vars";
@import "../base/mixin";

.reg {
  @include mainBlock;
  position: absolute;
  top: 0;
  left: 0;
  @include veryBlue-bg(top, 1);
  z-index: 600;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include innerBlock;
    @include wings();
  }
}
