@import "../base/vars";
@import "../base/mixin";

.searchChannel {
  width: $full-screen;

  &__inputSection {
    width: $full-screen;
  }

  &__input {
    padding: 12px;
    width: $full-screen;

    &::placeholder {
      opacity: 0.6;
    }
  }

  &__resultInput {
    display: block;
    @include veryBlue-bg(top, 0.5);
  }
}