@import "../base/vars";
@import "../base/mixin";

.sendMessage {
  display: flex;
  gap: 10px;
  align-items: end;
  padding: 15px;
  @include veryBlue-bg(top, 1);

  &__text {
    width: $full-screen;
    height: 24px;
    min-height: 24px;
    max-height: 200px;
    color: $white;
    @include Royal-gradient(top, 1);
    border: 1px solid rgba(0, 0, 0, 0);
    resize: none;
    outline: none;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
  }

  &__sendBtn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background:  url($send-icon-message) 0 / cover no-repeat;
  }
}