
.chat-panel {
    background: var(--main-color);
    width: var(--full-width-screen);
}

.chat-panel__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--full-width-screen);
    width: var(--full-width-screen);

}