

.channels {
    display: flex;
    flex-direction: column;
    width: 428px;
    flex-grow: 1;
    background: var(--accent-color);
    border-radius: 0 20px 0 0;
    transition: width 0.2s ease-in-out, transform .5s ease-in-out;
}

.channels.active__hideChannel {
    width: 148px;
    flex: 0 0 148px;
}

/*////////////////////////////////////////////////*/

.channels__burger {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 75px;
    border-radius: 0 20px 0 0;
    padding: 0 20px;
    position: relative;
}

.channels__burger .burger__btn {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1000;
    width: 43px;
    height: 43px;
    background: var(--main-color);
    border: none;
    border-radius: 8px;
}

.channels__burger .burger__btn span, .channels__burger .burger__btn span:before, .channels__burger .burger__btn span:after {
    position: absolute;
    left: 0;
    margin: auto;
    width: 21px;
    height: 1px;
    background: var(--accent-color);
    transition: transform 0.5s ease-in-out;
}

.channels__burger .burger__btn span:before, .channels__burger .burger__btn span:after {
    content: '';
    transition: width 0.5s ease-in-out, top 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.channels__burger .burger__btn span {
    top: 0;
    bottom: 0;
    right: 0;
}

.channels__burger .burger__btn span:before {
    top: -5px;
}

.channels__burger .burger__btn span:after {
    top: 5px;
}

.channels__burger .burger__btn.active__menu-burger span {
    transform: rotate(180deg);
}

.channels__burger .burger__btn.active__menu-burger span:before,
.channels__burger .burger__btn.active__menu-burger span:after {
    width: 8px;
    top: 0;
    transition-delay: .1s;
}

.channels__burger .burger__btn.active__menu-burger span:before {
    transform-origin: left top;
    transform: rotate(-45deg);
}

.channels__burger .burger__btn.active__menu-burger span:after {
    transform-origin: left bottom;
    transform: rotate(45deg);
}


.channels__burger .burger__btn-hide {
    cursor: pointer;
    width: 43px;
    height: 43px;
    background: var(--main-color);
    border: none;
    border-radius: 8px;
}


/*////////////////////////////////////////////////*/

.channels__search {
    display: flex;
    height: 50px;
    position: relative;
    background: var(--main-color);
}

.channels__search .channels__search--input {
    width: 100%;
    border: none;
    font-size: 16px;
    background: var(--main-color);
    padding: 0 10px 0 20px;
    outline: none;
}

.channels__search .channels__search--input::placeholder {
    color: var(--accent-color);
    font-size: 16px;
    letter-spacing: 3px;
}

.channels__search .channels__search--input:focus {
    color: var(--accent-color);
}

.channels__search .channels__search--btn {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.channels__search .channels__search--btn span {
    position: absolute;
    width: 25px;
    height: 2px;
    background: var(--accent-color);
}

/*////////////////////////////////////////////////*/


.channels__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    flex: 1;
    position: relative;
    padding-left: 23px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: width 0.2s ease-in-out;
}

.channels__list.channels__list-scroll {
    /*overflow-y: auto;*/
    overflow-y: scroll;
    direction: rtl;
}

.channels__list.channels__list-scroll > .channel__link {
    text-align: left;
    direction: ltr;
}

.channel__list.active__hideChannel {
    width: 120px;
}

.channels__list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.channels__list::-webkit-scrollbar-track {
    background: var(--accent-color);
}

.channels__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--main-color);
}

/*

#current-channel-item {
    position: absolute;
    background: var(--main-color);
    border-radius: 50px 0 0 50px;
    transition: top 0.3s ease-in-out, width 0.2s ease-in-out, opacity 0.4s cubic-bezier(0.68, 0.02, 0, 0.98);
}

#current-channel-item .channel__item--before {
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--main-color);
}

#current-channel-item .channel__item--before:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-bottom-right-radius: 20px;
    background: var(--accent-color);
}

#current-channel-item .channel__item--after {
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--main-color);
}

#current-channel-item .channel__item--after:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-top-right-radius: 20px;
    background: var(--accent-color);
}

*/

/*.channel__item {*/
/*    width: inherit;*/
/*    height: 90px;*/
/*    position: relative;*/
/*    flex: 0 0 90px;*/
/*    border-radius: 50px 0 0 50px;*/
/*}*/
.channel__link {
    width: inherit;
    height: 90px;
    position: relative;
    flex: 0 0 90px;
    border-radius: 50px 0 0 50px;
    text-decoration: none;
}

.channel__link > span:nth-child(2) {
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--accent-color);
}
.channel__link > span:nth-child(3) {
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--accent-color);
}
.channel__link > span:nth-child(2):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-bottom-right-radius: 20px;
    background: var(--accent-color);
}
.channel__link > span:nth-child(3):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-top-right-radius: 20px;
    background: var(--accent-color);
}

.channel__link.active-current-channel > span:nth-child(2) {
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    transition: background-color .4s ease-in-out;
    z-index: 2;
}
.channel__link.active-current-channel > span:nth-child(3) {
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--main-color);
    transition: background-color .4s ease-in-out;
    z-index: 2;
}
.channel__link.active-current-channel > span:nth-child(2):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-bottom-right-radius: 20px;
    background: var(--accent-color);
}
.channel__link.active-current-channel > span:nth-child(3):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-top-right-radius: 20px;
    background: var(--accent-color);
}


.channel__link.active-current-channel {
    background: var(--main-color);
    transition: background-color .4s ease-in-out;
}

.channel__link-wrapper {
    display: grid;
    grid-template-columns: auto 280px;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50px 0 0 50px;
}

.channel__link .channel__link-wrapper .channel__link--left {
    display: flex;
    align-items: center;
    padding-left: 12px;
    width: 120px;
    height: 100%;
}

.channel__link .channel__link-wrapper .channel__link--left .channel__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 1px;
    background: var(--main-color);
    transition: background-color .5s ease-in-out;
}

.channel__link .channel__link-wrapper .channel__link--right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 280px;
    height: 100%;
    color: var(--main-color);
}

.channel__link .channel__link-wrapper .channel__link--right .channel__name {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
    transition: color .5s ease-in-out;
}

.channel__link .channel__link-wrapper .channel__link--right .channel__description .channel__user,
.channel__link .channel__link-wrapper .channel__link--right .channel__description .channel__text {
    color: var(--main-color);
    transition: color .5s ease-in-out;
}

.channel__link .channel__link-wrapper .channel__link--right .channel__description {
    display: flex;
    font-size: 16px;
    gap: 10px;
}

.channels__list .active-current-channel .channel__link-wrapper .channel__link--right .channel__name,
.channels__list .active-current-channel .channel__link-wrapper .channel__link--right .channel__description .channel__user,
.channels__list .active-current-channel .channel__link-wrapper .channel__link--right .channel__description .channel__text {
    color: var(--accent-color);
}

.channels__list .active-current-channel .channel__link-wrapper .channel__link--left .channel__avatar {
    background: var(--accent-color);
}


/*///////////////////////~MENU-BURGER~////////////////////////////*/


.menu-burger {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translateX(-100%);
    background: var(--bg);
    transition: transform .5s ease-in-out;
    border-radius: 0 20px 0 0;
}

.menu-burger.active__menu-burger {
    transform: translateX(0);
}