@import "base/vars";
@import "base/mixin";
@import "base/reset";
@import "base/scroll";
@import "base/base";
@import "base/media";

:root {
  --size-index: calc(1vw + 1vh)
}

.App {
  position: relative;
  height: $full-screen;
  width: $full-screen;
}

