@import "./base/vars";
@import "./base/mixin";

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $full-screen;
  width: $full-screen;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(24, 23, 23);

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: $full-screen;
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;

    background: linear-gradient(to right, #4A00E0, #8E2DE2);

    padding: 15px;
    border-radius: 8px;
  }

  &__form {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
  }

  &__username {
    @include padding;
  }

  &__email {
    @include padding;
  }

  &__phoneBlock {
    position: relative;
  }

  &__phone {
    width: $full-screen;
    padding: 10px 50px 10px 70px;
  }

  &__phoneSelect {

  }

  &__phoneOption {

  }

  &__passwordBlock {
    position: relative;
  }

  &__password {
    width: $full-screen;
    @include padding;
  }

  &__passwordHideAndView {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  &__passwordHideAndView.hidePass {
    background: url('../../public/hide.png') 0 / cover no-repeat;
    width: 25px;
    height: 25px;
  }

  &__passwordHideAndView.showPass {
    background: url("../../public/show.png") 0 / cover no-repeat;
    width: 25px;
    height: 25px;
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__login {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
