@import "../../styles/base/vars";
@import "../../styles/base/mixin";

.btnLogin {
  color: $white;

  max-width: 200px;
  font-size: 16px;

  border: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  @include Frost-gradient;

  &:hover {
    box-shadow: 1px 1px 5px $bright-green,
    1px 1px 10px $bright-green,
    1px 1px 15px $bright-green;
  }
}